<form class="container" 
[formGroup]="form">

<h1>Base Converter</h1>

<input (ngModelChange) = "decimalChanged(oldValue, newValue= $event)"
 type="text" name="decimal" placeholder="decimal" formControlName="decimal">
<br>
<input (ngModelChange) = "binaryChanged(oldValue, newValue= $event)"
 type="text" name="binary" placeholder="binary" formControlName="binary">
<br>
<input (ngModelChange) = "octalChanged(oldValue, newValue= $event)"
 type="text" name="octal" placeholder="octal" formControlName="octal">
<br>
<input (ngModelChange) = "hexaChanged(oldValue, newValue= $event)"
type="text" name="hexa" placeholder="hexa" formControlName="hexa">
<br>


</form>